.section-image-with-text {
  width: 100%;
  box-sizing: border-box;  
}

.section-image-with-text .section-inner {
  margin: 0 auto;
  box-sizing: border-box;
}

.image-with-text--image, .image-with-text--video {
  position: relative;
  margin-bottom: 10px;
  min-height: 80px;
  line-height: 0;
}

.image-with-text--content {
  padding: 0 var(--page-margin-mobile);
}

.page-width .image-with-text--content {
  padding: 0 0;
}

@media screen and (min-width: 750px) {
  .page-width-full .image-with-text--content, .page-width-full-grid .image-with-text--content {
    padding: 0 var(--page-margin-tablet);
  }  
}

@media screen and (min-width: 1025px) {
  .page-width-full .image-with-text--content, .page-width-full-grid .image-with-text--content {
    padding: 0 var(--page-margin-desktop);
  }  
}

.section-image-with-text .section-inner img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.image-with-text--image video {
  width: 100%;
  height: auto;
  border-radius: var(--media-radius);
}

.image-with-text--image img {
  width: 100%;
  height: auto;
  border-radius: var(--media-radius);
}

.image-with-text--image .global-image-placeholder {
  border-radius: 0;
}

.page-width .image-with-text--image .global-image-placeholder {
  border-radius: var(--media-radius);
}

.page-width-full-grid .image-with-text--image img, .page-width-full-grid .image-with-text--image video {
  border-radius: 0;
}

.image-ratio-portrait video, .image-ratio-portrait-4x6 video, .image-ratio-square video, .image-ratio-landscape video {
  height: 100%;
  object-fit: cover;
  object-position: center center;  
}

.image-ratio-portrait .global-image-placeholder, .image-ratio-portrait-4x6 .global-image-placeholder, .image-ratio-square .global-image-placeholder, .image-ratio-landscape .global-image-placeholder {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.image-cover-container {
  position: relative;
  height: 100%;
}

.image-ratio-square .image-cover-container {
  width: 100%;
  padding-bottom: 100%;
}


.image-ratio-landscape .image-cover-container {
  width: 100%;
  padding-bottom: 60%;
}

.section-shop-the-look .image-ratio-landscape .image-cover-container {
  height: 0;
  width: 100%;
  padding-bottom: 66%;
}

.image-ratio-portrait .image-cover-container {
  width: 100%;
  padding-bottom: 120%;
}

.image-ratio-portrait-4x6 .image-cover-container {
  width: 100%;
  padding-bottom: 130%;
}

.image-ratio-fit-to-section .image-cover-container {
  padding-bottom: 100%;
}

.image-cover-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.image-cover-wrapper img {
  height: 100% !important;
  width: 100%;
  object-fit: cover;
  object-position: center center;  
}

.image-ratio-fit .image-cover-wrapper {
  position: relative;
}

.image-ratio-fit .image-cover-wrapper img {
  width: 100%;
  height: auto !important;
}

.video-video-container {
  position: relative;
}

.video--video-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

.video--video-wrapper video, .video--video-wrapper img {
  object-fit: cover;
  object-position: center center;
}

.video-ratio-square .video-video-container {
  width: 100%;
  padding-bottom: 100%;  
}

.video-ratio-landscape .video-video-container {
  width: 100%;
  padding-bottom: 60%;  
}

.video-ratio-portrait .video-video-container {
  width: 100%;
  padding-bottom: 120%;  
}

.filter--grayscale {
  filter: grayscale(100%);
}

.image-with-text--text {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.image-with-text--inset-image {
  margin-bottom: 20px;
}

.image-with-text--inset-image img {
  width: 100%;
  height: auto;
}

.inset-image-micro {
  width: 80px;
}

.inset-image-small {
  width: 140px;
}

.inset-image-medium {
  width: 180px;
}

.inset-image-large {
  width: 260px;
}

.fp-tag {
  display: inline-block;
  font-size: 10px;
  color: var(--badge-txt-color);
  background: var(--badge-bg-color);
  border-radius: var(--badge-corner-radius);
  border: var(--badge-border-width) solid rgba(var(--badge-border));
  padding: 5px 7px 5px 7px;
  line-height: 1.0;
  margin-bottom: 1rem;
  text-transform: uppercase; 
  margin-right: 2px;
}

.align-center .fp-tag {
  margin-left: 1px;
  margin-right: 1px;
}

.featured-product-quick-add .button--outline {
  background: none !important;
}

.featured-product-quick-add .link--underlined {
  background: none !important;
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.iwt-hoi {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 2;
  text-align: center;
}

@media only screen and (min-width: 1025px) {
  .inset-image-micro {
    width: 80px;
  }
  
  .inset-image-small {
    width: 140px;
  }
  
  .inset-image-medium {
    width: 240px;
  }
  
  .inset-image-large {
    width: 360px;
  }  
}

.image-cover img {
  object-fit: cover;
  object-position: center center; 
  height: 100% !important;
}

.grid-card-spacing-zero .image-with-text--image {
  margin-bottom: 0;
}

.image-with-text-footer {
  margin-top: 30px;
}

.image-with-text-footer--two-button.layout-stacked {
  display: grid;
  width: fit-content;
  row-gap: 1rem;
}

.image-with-text-footer--two-button.layout-horizontal {
  display: flex;
  align-items: center;
  width: fit-content;
  row-gap: 1rem;
  column-gap: 1rem;
  flex-wrap: wrap;  
}

.image-with-text-footer--two-button.layout-horizontal:has(.link--underlined) {
  column-gap: 2rem;
}

.image-with-text-footer.button-width-mobile--full-width .button {
  width: 100%;
}

.section-featured-product .product__tax {
  opacity: 0.6;
}

.section-featured-product .accordion-panel {
  text-align: left;
}

@media only screen and (max-width: 749px) {
  .image-with-text-footer.button-width--full {
    width: 100%;
  }
  .image-with-text-footer.button-width--full > a {
    width: 100%;
  }  
}

@media only screen and (min-width: 750px) {
  .image-with-text-footer.button-width-mobile--full-width .button {
    width: auto;
  }
  .image-with-text-footer.button-width-desktop--default .button {
    width: auto;
  }
  .image-with-text-footer.button-width-desktop--full-width .button {
    width: 100%;
  }  
}


.iwt-cross-fade .cf-first-image {
  position: absolute;
  left: 0;
  top: 0;
  animation-name: image-cross-fade;
  animation-iteration-count: infinite;
  animation-delay: 4s;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes image-cross-fade {
  0% {
    opacity:1;
  }
  45% {
    opacity:1;
  }
  55% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

.iwt-progress-bar {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  display: block !important;
  z-index: 2;
  bottom: 16px;
  left: 50%;
  margin-left: -90px;
  background: none;
  height: 4px;
  width: 205px;
  font-size: 0;
  border-radius: 1px;
}

@media only screen and (min-width: 767px) {
  .iwt-progress-bar {
    bottom: 30px;
  }  
}

.iwt-progress-line {
  margin: 0;
  position: absolute;
  width: 0px;
  height: 4px;
  background: rgba(225,225,225,1);
  opacity: 1;
  border-radius: 1px;
}

.iwt-progress-baseline {
  position: absolute;
  width: 100px;
  height: 4px;
  background: rgba(225,225,225,0.3);
}

.iwt-progress-baseline:last-child {
  left: 105px;
}

.iwt-progress-line {
  background: #ffffff;
  height: 4px;
  width: 0px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.iwt-progress-baseline:first-child .iwt-progress-line {
  animation-name: image-cross-fade-progress-line-one;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.iwt-progress-baseline:last-child .iwt-progress-line {
  animation-name: image-cross-fade-progress-line-two;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 8s;
}

.iwt-progress-bar:empty, .iwt-progress-line:empty {
  display: block !important;  
}

.iwt-progress-baseline:empty {
  display: inline-block !important;  
}


@keyframes image-cross-fade-progress-line-one {
  0% {
    width:0px;
    opacity: 1;
  }
  49.9% {
    width:100px;
    opacity: 1;
  }
  50% {
    width:0px;
    opacity: 0;
  }
  100% {
    width:0px;
    opacity: 0;
  }
}

@keyframes image-cross-fade-progress-line-two {
  0% {
    width:0px;
    opacity: 1;
  }
  49.9% {
    width:100px;
    opacity: 1;
  }
  50% {
    width:0px;
    opacity: 0;
  }
  100% {
    width:0px;
    opacity: 0;
  }
}

.iwt-cross-fade img {
  height: 100% !important;
  object-fit: cover;
  object-position: center center;
}

.image-with-text-content-container {
  position: relative;
}

@media only screen and (min-width: 950px) {
  .image-with-text-content-container {
    display: flex;
    align-items: stretch;
  }
  .image-with-text--image, .image-with-text--text, .image-with-text--video {
    width: 50%;
    margin-bottom: 0px;
  }
  
  .image-with-text--text {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .image-with-text--text.vertical-align--top {
    align-items: flex-start;
  }
  .image-with-text--text.vertical-align--bottom {
    align-items: flex-end;
  }
  .image-with-text--content {
    margin: 0 auto;
    position: relative;
    width: 100%;
  }
  .image-ratio-fit-to-section .image-cover-container {
    padding-bottom: 0;
    height: 100%;
  }
  .image-with-text-footer {margin-top: 40px;}
}

@media only screen and (min-width: 1025px) {
  .iwt-dt-layout-70 .image-with-text--image {
    width: 70%;
  }
  .iwt-dt-layout-70 .image-with-text--text {
    width: 30%;
  }
  .iwt-dt-layout-60 .image-with-text--image {
    width: 60%;
  }
  .iwt-dt-layout-60 .image-with-text--text {
    width: 40%;
  }
  .iwt-dt-layout-40 .image-with-text--image {
    width: 40%;
  }
  .iwt-dt-layout-40 .image-with-text--text {
    width: 60%;
  }
  .iwt-dt-layout-30 .image-with-text--image {
    width: 30%;
  }
  .iwt-dt-layout-30 .image-with-text--text {
    width: 70%;
  }
}

@media only screen and (min-width: 950px) {
  .iwt-screen-height, .iwt-screen-height .image-cover-wrapper, .iwt-screen-height .image-with-text--text {
    min-height: 100vh;
  }
  .iwt-screen-height .section-inner, .iwt-screen-height .image-with-text-content-container {
    height: 100%;
  }
  body:has(.header-bar--full) .iwt-screen-height, body:has(.header-bar--full) .iwt-screen-height .image-cover-wrapper, body:has(.header-bar--full) .iwt-screen-height .image-with-text--text {
    min-height: calc(100vh - var(--site-header-height-mobile));
  }
  body:has(.full-width-announcement-bar):has(.header-bar--full) .iwt-screen-height, body:has(.full-width-announcement-bar):has(.header-bar--full) .iwt-screen-height .image-cover-wrapper, body:has(.full-width-announcement-bar):has(.header-bar--full) .iwt-screen-height .image-with-text--text {
    min-height: calc(100vh - var(--site-header-height-mobile) - 35px);
  }
}

@media only screen and (min-width: 1025px) {
  .iwt-screen-height, .iwt-screen-height .image-cover-wrapper, .iwt-screen-height .image-with-text--text {
    min-height: 100vh;
  }
  .iwt-screen-height .section-inner, .iwt-screen-height .image-with-text-content-container {
    height: 100%;
  }
  body:has(.header-bar--full) .iwt-screen-height, body:has(.header-bar--full) .iwt-screen-height .image-cover-wrapper, body:has(.header-bar--full) .iwt-screen-height .image-with-text--text {
    min-height: calc(100vh - var(--site-header-height-desktop));
  }
  body:has(.full-width-announcement-bar):has(.header-bar--full) .iwt-screen-height, body:has(.full-width-announcement-bar):has(.header-bar--full) .iwt-screen-height .image-cover-wrapper, body:has(.full-width-announcement-bar):has(.header-bar--full) .iwt-screen-height .image-with-text--text {
    min-height: calc(100vh - var(--site-header-height-desktop) - 35px);
  }
}

/* Adjustments for iPad Pro and iPad Air in portrait orientation */

@media only screen and (min-width: 750px) and (max-width: 1200px) and (min-height: 1100px) {
  .iwt-screen-height, .iwt-screen-height .image-cover-wrapper, .iwt-screen-height .image-with-text--text {
    min-height: 750px !important;
  }  
}