.newsletter-section {
  position: relative;
}

.newsletter-section-inner {
  position: relative;
  z-index: 1;
}

.newsletter-section-inner h2 {
  margin-top: 0 !important;
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

.newsletter-section-inner .newsletter-form__field-wrapper .field__label {
  display: none;
}

.newsletter-field-input {
  width: 100%;
  outline: 0;
  background: none;
}

.newsletter-field-input:focus {
  outline: 0;
  box-shadow: none;
}

.newsletter-fields {
  margin-top: 2rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter-section-inner .newsletter-form__field-wrapper .field__button {
  height: 100%;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-section-inner .newsletter-form__button.field__button .icon {
  margin-left: 1rem;
}

.fields-style-minimal .newsletter-form__field-wrapper .field__button {
  justify-content: flex-end;
}

.newsletter-section-inner .newsletter-form__message--success {
  margin-top: 1rem;
}

.newsletter-section-inner .field {
  background: none;
  color: inherit;
}

.newsletter-section .fields-style-outline .field {
  background: none;
  border: 0;
}

.fields-style-default .field input {
  color: inherit;
  background: var(--color-background);
  color: rgba(var(--color-foreground-rgb),1);
  border: 0;
}

.fields-style-default .field__button {
  color: rgba(var(--color-foreground-rgb),1);
}

.fields-style-outline .field input, .fields-style-minimal .field input {
  color: inherit;
}

.fields-style-minimal .field input {
  border: 0;
  padding: 0rem;
}

.fields-style-minimal .field {
  background: none;
  border: 0;
  border-bottom: 1px solid;
  color: inherit;
}

.fields-style-minimal .field__input, .fields-style-minimal .field__input::placeholder {
  color: inherit;
}

.fields-style-outline .field__button, .fields-style-minimal .field__button {
  color: inherit !important;
}

.newsletter-section-inner .field__input:focus-visible {
  outline: 2px transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  box-shadow: none;
}

.newsletter-section.color-scheme-fg-body .fields-style-outline .field__input {
  border: var(--inputs-border-width) solid rgba(var(--color-foreground-rgb),1);
}

.newsletter-section.color-scheme-fg-01 .fields-style-outline .field__input {
  border: var(--inputs-border-width) solid rgba(var(--color-accent-one-rgb),1);
}

.newsletter-section.color-scheme-fg-02 .fields-style-outline .field__input {
  border: var(--inputs-border-width) solid rgba(var(--color-accent-two-rgb),1);
}

.newsletter-section.color-scheme-fg-03 .fields-style-outline .field__input {
  border: var(--inputs-border-width) solid rgba(var(--color-accent-three-rgb),1);
}

.newsletter-section.color-scheme-fg-04 .fields-style-outline .field__input {
  border: var(--inputs-border-width) solid rgba(var(--color-accent-four-rgb),1);
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
  color: inherit;
}

.newsletter-form__button.field__button .icon {
  width: 1.6rem;
  height: 1.6rem;
}

.newsletter-bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0;
  top: 0;
  overflow: hidden;
}

.newsletter-bg-image img {
  position: absolute;
  left: -1px;
  top: 0;
  width: calc(100% + 1px);
  height: 100%;
  object-fit: cover;
}

.form-width-fixed {
  max-width: 520px;
}

.align-center .form-width-fixed {
  margin: 0 auto;
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}

.newsletter-button__submit-label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  height: calc(100% - 0px);
  padding: 0 1.6rem;
  min-width: 60px;
  font-family: var(--font-accent-family) !important;
  font-weight: var(--font-accent-weight) !important;
  font-style: var(--font-accent-style) !important;
  font-weight: var(--buttons-font-weight);
  font-size: var(--buttons-font-size-mobile);
  letter-spacing: var(--buttons-letter-spacing);
  text-decoration: none;
  text-transform: var(--buttons-text-case);
  line-height: 1.0;
}

@media only screen and (min-width: 1025px) {
  .newsletter-button__submit-label {
    font-size: var(--buttons-font-size-desktop);
  }
}

.newsletter-fields.fields-style-default .newsletter-form__submit-style-outline-button .newsletter-button__submit-label {
  height: calc(100% - 8px);
}

.newsletter-fields.fields-style-minimal .newsletter-button__submit-label {
  height: calc(100% - 8px);
}

.newsletter-fields.fields-style-default .field__button.newsletter-form__submit-style-outline-button {
  right: 4px;
}

.newsletter-fields.fields-style-default .newsletter-form__submit-style-solid-button .newsletter-button__submit-label {
  border-radius: 0 var(--inputs-radius) var(--inputs-radius) 0;
}

.newsletter-fields.fields-style-default .newsletter-form__submit-style-outline-button .newsletter-button__submit-label {
  border-radius: calc(var(--inputs-radius) - 4px);
}

.newsletter-fields.fields-style-outline .newsletter-form__submit-style-outline-button .newsletter-button__submit-label {
  border: 0;
  border-left: 1px solid;
  border-radius: 0 var(--inputs-radius) var(--inputs-radius) 0;
}

.newsletter-fields.fields-style-outline .newsletter-form__submit-style-solid-button .newsletter-button__submit-label {
  border-radius: 0 var(--inputs-radius) var(--inputs-radius) 0;
}

.newsletter-fields.fields-style-minimal .newsletter-form__submit-style-solid-button .newsletter-button__submit-label, 
.newsletter-fields.fields-style-style-minimal .newsletter-form__submit-style-solid-outline .newsletter-button__submit-label {
  border-radius: var(--buttons-radius);
}

.newsletter-form__submit-style-solid-button .newsletter-button__submit-label {
  border: 0;
  background: rgb(var(--color-button-background));
  color: rgb(var(--color-button-foreground));
}

.newsletter-fields .newsletter-form__field-wrapper .field__button:has(.newsletter-button__submit-label) {
  width: auto;
  min-width: 60px;
}
